.jumbotron
  .container
    h1 Want to see other's wish lists ?
    p blablablablablablablablablablablablab
    .search-form  
      input name="wishListSearch" type="text" 
      button.wish-search-btn name="Search" Search Wish Lists

.container
  .row
    .col-md-6
      .thumbnail
        .caption
          h2 Generic TLDs
          p The gTLDs (generic top-level domains) are global extensions. Because they have worldwide recognition, they appeal to all kinds of customers. Examples include .com, .net and .biz.
          button.btn.btn-primary.btn-make-wish name="Search" Make your sell wish list

    .col-md-6
      .thumbnail
        .caption
          h2 Generic TLDs
          p The gTLDs (generic top-level domains) are global extensions. Because they have worldwide recognition, they appeal to all kinds of customers. Examples include .com, .net and .biz.
          button.btn.btn-primary.btn-make-wish name="Search" Make your buy wish list