/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

$nav-color : #039bd3; 
$nav-link-color : #fff;
$nav-link-active-bgcolor : #0face5;

// .search-form {
// padding: 0 .625em;
// margin: 0 auto;
// position: relative;
// }

.container {
  width: 970px;
}

.ws-navbar {
  background-color: $nav-color;
}

.ws-navbar {
  .navbar-brand {
    color: $nav-link-color;
  }
  
}

.navbar {
  margin-bottom: 0px;
}

.navbar-nav {
  .active {
    background-color: $nav-link-active-bgcolor;
  }
  > li {
      > a {
      color: $nav-link-color;
    }
    > a:hover, > a:focus {
      background-color: $nav-link-active-bgcolor;
    }
  }
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 7px 14px;
  margin: 0 0 18px;
  list-style: none;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top,#fff,#f5f5f5);
  background-image: -ms-linear-gradient(top,#fff,#f5f5f5);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f5f5f5));
  background-image: -webkit-linear-gradient(top,#fff,#f5f5f5);
  background-image: -o-linear-gradient(top,#fff,#f5f5f5);
  background-image: linear-gradient(top,#fff,#f5f5f5);
  background-repeat: repeat-x;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff',endColorstr='#f5f5f5',GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  li {
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
  }
}

