// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-bgcolor : #039bd3; 
$main-bright-bgcolor : #0face5;

.btn-make-wish {
  width: 100%;
  padding: 0.65em;
}

.search-form > input, .search-form > button {
  border-radius: 5px;
}

.search-form {
  // background-color: red;
  margin: 0 auto;
  position: relative;
  input {
    width: 50%;
    line-height: 1.25;
    padding: .556em .5em;
    border: 1px solid transparent;
    -webkit-border-top-right-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    -moz-border-radius-topright: 0 !important;
    -moz-border-radius-bottomright: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    vertical-align: top;
  }
}

.wish-search-btn {
  width: 17%;
  height: auto;
  text-align: center;
  text-shadow: 0 -1px 1px $main-bgcolor;
  color: #fff;
  background: #fd4f00;
  background: linear-gradient(to bottom,$main-bright-bgcolor 0%,$main-bgcolor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  padding: .5em 1em;
  border: 1px solid $main-bgcolor;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}



.jumbotron {
  text-align:center;
  box-shadow: inset 0 .25em .5em rgba(0,0,0,.33);
  // background-image: image-url("business.jpg");
  // background-repeat: no-repeat;
  background-position: center center;
  background: image-url("business.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
}
