footer id="footer"
  .container.hidden-phone style="text-align:center;"
    ul
      li
        a href="/about" About Us &amp; Contact
        | &nbsp-&nbsp
      li
        a href="/privacy" Privacy Policy
        | &nbsp-&nbsp
      li
        a href="/terms_of_service" Terms of Service