.navbar.ws-navbar.navbar-static-top role="navigation"
  .container
    .navbar-header
      button.navbar-toggle.collapsed type="button" data-toggle="collapse" data-target=".navbar-collapse"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand href="#" Wish Sourcing
    .collapse.navbar-collapse id="navbar-1"
      ul.nav.navbar-nav
        li class=((params[:controller] == "home" && params[:action] == "index") ? 'active' : '')
          = link_to t('Home'), root_path
        li
          = link_to t('MyWishList')
      ul.nav.navbar-nav.navbar-right
        li
          = link_to t('login')